@Model SinglePictureViewModel
<div b-gx69rlccnc="" class="container">
    <main b-gx69rlccnc="" role="main" class="pb-3">

        <div class="row">
            
            <div class="col-md-10 offset-md-1 bg-light p-4 rounded shadow">
                <h1>@Model.image.Title</h1>
                <img src="/image/@Model.image.imagePath" style="width: 900px;">
                <br>
                <form action="/LikePost" method="post">
                    <button id="like-button" disabled="@(Model.likedImages?.Contains(Model.image.Id)??false)" class="btn btn-primary btn-lg">LIKE</button>           Current Likes: <span id="likes-count">@Model.image.likes</span>
                    <input type="hidden" name="id" id="id"value="@Model.image.Id">
                </form>
            </div>
        </div>


    </main>
</div>
@section Scripts {
    <script src="/js/likes.js"></script>
}
