
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - ImageShareLikesEF.Web</title>
</head>
<body>
    <header>
        <nav b-gx69rlccnc="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-gx69rlccnc="" class="container">
                <a class="navbar-brand" href="/">ImageShareLikesEF.Web</a>
                <button b-gx69rlccnc="" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-gx69rlccnc="" class="navbar-toggler-icon"></span>
                </button>
                <div b-gx69rlccnc="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-gx69rlccnc="" class="navbar-nav flex-grow-1">
                        <li b-gx69rlccnc="" class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li b-gx69rlccnc="" class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Upload">Upload</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div b-gx69rlccnc="" class="container">
        <main b-gx69rlccnc="" role="main" class="pb-3">
            <div class="row">
                <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow mb-3">
                    <form method="post" action="/home/upload" enctype="multipart/form-data">
                        <input type="text" class="form-control" name="title" placeholder="Image Title" fdprocessedid="webjh">
                        <br>
                        <input type="file" name="imageFile" class="form-control">
                        <br>
                        <button class="btn btn-primary w-100" fdprocessedid="fnf6a7">Upload</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

  


</body>
</html>